.white-cell{
    background-color: white;
}
.black-cell{
    background-color: black;
}
.cell{
    width: 20px;
    height: 20px;
    border: none;
    padding: 0;
    margin: 0;
    border: 1.5px solid gray;
    border-style: inset;
}
